@mixin line {
	position: absolute;
	right: 0;
	height: 4px;
	background-color: #fff;
	transition: width 0.3s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	font-size: 1.6rem;
	// background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%);
}

.wrapper {
	margin: 0;
	width: 100%;
	max-width: 1200px;
}

.burger-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	background: none;
	border: 1px solid transparent;
	// border: 1px solid #fff;
	outline: none;
	transition: border 0.3s;
	z-index: 100;
	cursor: pointer;
	&:focus {
		border: 1px solid #cfcdcd;
	}
	&:hover {
		.burger-btn__lines,
		.burger-btn__lines::before {
			width: 52px;
		}
	}

	&__box {
		width: 50px;
		height: 50px;
		// background-color: #fff;
	}

	&__lines {
		@include line;
		top: 50%;
		width: 35px;
		margin-right: 13px;
		&::before {
			content: '';
			@include line;
			top: 14px;
			width: 60%;
			transition-delay: 0.1s;
		}
		&::after {
			content: '';
			@include line;
			bottom: 14px;
			width: 52px;
		}
	}
}

// ----------header------------

.header {
	position: relative;
	padding: 2em;
	width: 100%;
	height: 800px;
	background-image: url('../img/palm-3172367_640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		// background-color: rgba(25, 73, 206, 0.55);
		background-color: #0836a0;
		opacity: 0.7;
	}

	&__box {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		height: 30%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__title {
		font-size: 4rem;
		text-align: center;
	}

	&__text {
		font-size: 1.3rem;
	}

	&__btn {
		position: relative;
		padding: 1em 2em;
		text-align: center;
		text-decoration: none;
		color: #000;
		border: none;
		border-radius: 6px;
		background-color: #fff;
		overflow: hidden;
		cursor: pointer;
		z-index: 0;

		&::before {
			content: '';
			position: absolute;
			bottom: -1em;
			left: -110%;
			height: 7em;
			width: 6em;
			// background-color: #807b7b;
			background-image: linear-gradient(
				60deg,
				rgba(255, 255, 255, 0.75),
				rgba(167, 166, 166, 0.5)
			);
			transform: rotate(25deg);
			// animation: btnAnimation 1s;
			animation-fill-mode: forwards;
			z-index: -1;
		}
		&:hover::before {
			animation: btnAnimation 1s;
		}
	}
}

@keyframes btnAnimation {
	0% {
		left: -110%;
	}
	100% {
		left: 130%;
	}
}

.white-block {
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: #fff;
	z-index: 1;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(35deg);
	}
}
